
body {
  font-family: 'Raleway', sans-serif;
  color: #213053;
  margin: 0;
}
 
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header__logo {
    height: 30px;
    cursor: pointer;
}
 
a {
    color: #213053;
    text-decoration: none;
}
  
header a {
    font-size: 15px;
    font-weight: 600;
    margin-right: 25px;
}

button {
    font-family: 'Raleway', sans—serif;
    font-size: 15px;
    color: #fff;
    background-color: #23a030;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    padding: 15px;
    
    box-shadow: 0 16px 36px rgb(52 213 68 / 22%);
  }
  
  .about {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 115px;
    padding-top: 115px;
    background: url('img/back.png') no-repeat;
    background-position: center;
    background-size: cover;
  }

.about__info {
    margin-left: 25px;
    max-width: 550px;
}

  .about h1 {
font-size: 70px;
line-height: 76px;
  }
  .about p {
      font-size: 18px;
      line-height: 30px;
      opacity: 0.8;
  }
  .about button {
      font-size: 18px;
      border-radius: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-right: 25px;
      padding-left: 25px;
      margin-top: 20px
    }
  
  .about__image {
    width: 500px;
  }
   
  .about__sun—image {
    width: 100px;
    height: 100px;
  }